<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzuli.housekeepingserver.dao.extend.PrivilegeExtendMapper">
    <select id="selectAllWithChild" resultMap="PrivilegeExtendResultMap">
        SELECT *
        FROM base_privilege
        WHERE parent_id IS NULL
    </select>

    <select id="selectByParentId" resultMap="PrivilegeExtendResultMap">
        SELECT *
        FROM base_privilege
        WHERE parent_id = #{id}
    </select>

    <resultMap id="PrivilegeExtendResultMap" type="com.zzuli.housekeepingserver.bean.extend.PrivilegeExtend"
               extends="com.zzuli.housekeepingserver.dao.PrivilegeMapper.BaseResultMap">
        <collection property="children" ofType="com.zzuli.housekeepingserver.bean.Privilege"
                    column="id" select="selectByParentId"/>
    </resultMap>

    <select id="selectWithRoleById" resultMap="PrivilegeResultMap">
        SELECT p.id            as p_id,
               p.name          as p_name,
               p.path,
               p.type,
               p.icon,
               p.hidden,
               p.parent_id,
               r.id            as r_id,
               r.name          as r_name,
               rp.id           as rp_id,
               rp.role_id,
               rp.privilege_id
        FROM base_privilege p
                     LEFT JOIN base_role_privilege rp ON p.id = rp.privilege_id
                     LEFT JOIN base_role r ON rp.role_id = r.id
        WHERE p.id = #{id}
    </select>

    <resultMap id="PrivilegeResultMap" type="com.zzuli.housekeepingserver.bean.extend.PrivilegeExtend">
        <id column="p_id" jdbcType="BIGINT" property="id"/>
        <result column="p_name" jdbcType="VARCHAR" property="name"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="hidden" jdbcType="BIGINT" property="hidden"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <!-- 多表关联映射 -->
        <collection property="roles" ofType="com.zzuli.housekeepingserver.bean.Role">
            <id column="r_id" property="id"/>
            <result column="r_name" property="name"/>
        </collection>
    </resultMap>


<!--    <select id="selectRolePrivilegePID" parameterType="java.lang.Long" resultMap="com.zzuli.housekeepingserver.dao.RolePrivilegeMapper.BaseResultMap">-->
<!--        select *-->
<!--        from base_role_privilege-->
<!--        where privilege_id = #{id,jdbcType=BIGINT}-->
<!--    </select>-->
<!--
    <resultMap id="RoleInPrivilegeResultMap" type="com.zzuli.housekeepingserver.bean.extend.PrivilegeExtend">
        <id column="p_id" jdbcType="BIGINT" property="id"/>
        <result column="p_name" jdbcType="VARCHAR" property="name"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="hidden" jdbcType="BIGINT" property="hidden"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <association property="rolePrivilege" javaType="com.zzuli.housekeepingserver.bean.RolePrivilege">
            <id column="rp_id" jdbcType="BIGINT" property="id"/>
            <result column="role_id" jdbcType="BIGINT" property="roleId"/>
            <result column="privilege_id" jdbcType="BIGINT" property="privilegeId"/>
        </association>
        <association property="role" javaType="com.zzuli.housekeepingserver.bean.Role">
            <id column="r_id" jdbcType="BIGINT" property="id"/>
            <result column="r_name" jdbcType="VARCHAR" property="name"/>
        </association>-->
<!--        <collection property="rolePrivileges" ofType="com.zzuli.housekeepingserver.bean.RolePrivilege"-->
<!--                    column="privilege_id" select="selectRolePrivilegePID"/>-->
<!--        <collection property="roles" ofType="com.zzuli.housekeepingserver.bean.Role"-->
<!--                    column="role_id" select="com.zzuli.housekeepingserver.dao.RoleMapper.selectByPrimaryKey"/>-->
<!--    </resultMap>-->

</mapper>
