<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzuli.housekeepingserver.dao.extend.RoleExtendMapper">
    <select id="selectWithPrivilegeById" resultMap="RaleResultMap">
        SELECT r.id   as r_id,
               r.name as r_name,
               p.id   as p_id,
               p.name as p_name,
               p.path,
               p.type,
               p.icon,
               p.hidden,
               p.parent_id,
               rp.id  as rp_id,
               rp.role_id,
               rp.privilege_id
        FROM base_role r
                 LEFT JOIN base_role_privilege rp ON r.id = rp.role_id
                 LEFT JOIN base_privilege p ON rp.privilege_id = p.id
        WHERE r.id = #{id}
    </select>

    <resultMap id="RaleResultMap" type="com.zzuli.housekeepingserver.bean.extend.RoleExtend">
        <id column="r_id" jdbcType="BIGINT" property="id"/>
        <result column="r_name" jdbcType="VARCHAR" property="name"/>
        <!-- 多表关联映射 -->
        <collection property="privileges" ofType="com.zzuli.housekeepingserver.bean.Privilege">
            <id column="p_id" jdbcType="BIGINT" property="id"/>
            <result column="p_name" jdbcType="VARCHAR" property="name"/>
            <result column="path" jdbcType="VARCHAR" property="path"/>
            <result column="type" jdbcType="VARCHAR" property="type"/>
            <result column="icon" jdbcType="VARCHAR" property="icon"/>
            <result column="hidden" jdbcType="BIGINT" property="hidden"/>
            <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        </collection>
    </resultMap>
</mapper>
